openapi: 3.0.0
info:
  contact: {}
  title: BCA
  version: "1.0"
servers:
- url: https://m.klikbca.com
tags:
- name: BCA
paths:
  /authentication.do?value(actions)=logout:
    get:
      deprecated: false
      operationId: Logout
      parameters:
      - explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          enum:
          - Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          example: Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          type: string
        style: simple
      - explode: false
        in: header
        name: Referer
        required: true
        schema:
          enum:
          - https://m.klikbca.com/accountstmt.do?value(actions)=acctstmtview
          example: https://m.klikbca.com/accountstmt.do?value(actions)=acctstmtview
          type: string
        style: simple
      - explode: true
        in: query
        name: value(actions)
        required: true
        schema:
          enum:
          - logout
          example: logout
          type: string
        style: form
      - explode: false
        in: header
        name: Cookie
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: object
      summary: Logout
      tags:
      - BCA
  /accountstmt.do?value(actions)=acctstmtview:
    post:
      deprecated: false
      operationId: AccountStatementView
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          example: application/x-www-form-urlencoded
          type: string
        style: simple
      - explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          enum:
          - Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          example: Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          type: string
        style: simple
      - explode: false
        in: header
        name: Referer
        required: true
        schema:
          enum:
          - https://m.klikbca.com/accountstmt.do?value(actions)=acct_stmt
          example: https://m.klikbca.com/accountstmt.do?value(actions)=acct_stmt
          type: string
        style: simple
      - explode: true
        in: query
        name: value(actions)
        required: true
        schema:
          enum:
          - acctstmtview
          example: acctstmtview
          type: string
        style: form
      - explode: false
        in: header
        name: Cookie
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Length
        required: true
        schema:
          example: "3495"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              properties:
                r1:
                  example: "1"
                  type: string
                value%28D1%29:
                  example: "0"
                  type: string
                value%28startDt%29:
                  example: "14"
                  type: string
                value%28startMt%29:
                  example: "8.0"
                  type: string
                value%28startYr%29:
                  example: "2020"
                  type: string
                value%28endDt%29:
                  example: "20"
                  type: string
                value%28endMt%29:
                  example: "8.0"
                  type: string
                value%28endYr%29:
                  example: "2020"
                  type: string
              required:
              - r1
              - value%28D1%29
              - value%28endDt%29
              - value%28endMt%29
              - value%28endYr%29
              - value%28startDt%29
              - value%28startMt%29
              - value%28startYr%29
              type: object
        required: false
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: object
      summary: AccountStatementView
      tags:
      - BCA
  /balanceinquiry.do:
    post:
      deprecated: false
      operationId: BalanceInquiry
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          enum:
          - application/x-www-form-urlencoded
          example: application/x-www-form-urlencoded
          type: string
        style: simple
      - explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          enum:
          - Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          example: Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          type: string
        style: simple
      - explode: false
        in: header
        name: Referer
        required: true
        schema:
          enum:
          - https://m.klikbca.com/accountstmt.do?value(actions)=menu
          example: https://m.klikbca.com/accountstmt.do?value(actions)=menu
          type: string
        style: simple
      - explode: false
        in: header
        name: Cookie
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Length
        required: true
        schema:
          enum:
          - "0"
          example: "0"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: object
      summary: BalanceInquiry
      tags:
      - BCA
  /accountstmt.do?value(actions)=menu:
    post:
      deprecated: false
      operationId: Menu
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          enum:
          - application/x-www-form-urlencoded
          example: application/x-www-form-urlencoded
          type: string
        style: simple
      - explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          enum:
          - Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          example: Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          type: string
        style: simple
      - explode: false
        in: header
        name: Referer
        required: true
        schema:
          enum:
          - https://m.klikbca.com/authentication.do
          example: https://m.klikbca.com/authentication.do
          type: string
        style: simple
      - explode: true
        in: query
        name: value(actions)
        required: true
        schema:
          enum:
          - menu
          example: menu
          type: string
        style: form
      - explode: false
        in: header
        name: Cookie
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Length
        required: true
        schema:
          enum:
          - "0"
          example: "0"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: object
      summary: Menu
      tags:
      - BCA
  /authentication.do:
    post:
      deprecated: false
      operationId: Login
      parameters:
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          enum:
          - application/x-www-form-urlencoded
          example: application/x-www-form-urlencoded
          type: string
        style: simple
      - explode: false
        in: header
        name: User-Agent
        required: true
        schema:
          enum:
          - Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          example: Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30
            (KHTML, like Gecko) Version/10.0 Mobile/14E304 Safari/602.1
          type: string
        style: simple
      - explode: false
        in: header
        name: Referer
        required: true
        schema:
          enum:
          - https://m.klikbca.com/login.jsp
          example: https://m.klikbca.com/login.jsp
          type: string
        style: simple
      - explode: false
        in: header
        name: Cookie
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: Content-Length
        required: true
        schema:
          example: 3495
          format: int32
          type: integer
        style: form
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              properties:
                value%28user_id%29:
                  example: username
                  type: string
                value%28pswd%29:
                  example: "111111"
                  type: string
                value%28Submit%29:
                  example: LOGIN
                  type: string
                value%28actions%29:
                  example: login
                  type: string
                value%28user_ip%29:
                  example: 1.1.1.1
                  type: string
                user_ip:
                  example: 1.1.1.1
                  type: string
                value%28mobile%29:
                  example: "true"
                  type: string
                value%28browser_info%29:
                  example: Mozilla%2F5.0+%28iPhone%3B+CPU+iPhone+OS+10_3_1+like+Mac+OS+X%29+AppleWebKit%2F603.1.30+%28KHTML%2C+like+Gecko%29+Version%2F10.0+Mobile%2F14E304+Safari%2F602.1
                  type: string
                mobile:
                  example: "true"
                  type: string
              required:
              - mobile
              - user_ip
              - value%28Submit%29
              - value%28actions%29
              - value%28browser_info%29
              - value%28mobile%29
              - value%28pswd%29
              - value%28user_id%29
              - value%28user_ip%29
              type: object
        required: false
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: object
      summary: Login
      tags:
      - BCA
components:
  requestBodies:
    inline_object_1:
      content:
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: false
    inline_object:
      content:
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: false
  schemas:
    inline_object_1:
      properties:
        value%28user_id%29:
          example: username
          type: string
        value%28pswd%29:
          example: "111111"
          type: string
        value%28Submit%29:
          example: LOGIN
          type: string
        value%28actions%29:
          example: login
          type: string
        value%28user_ip%29:
          example: 1.1.1.1
          type: string
        user_ip:
          example: 1.1.1.1
          type: string
        value%28mobile%29:
          example: "true"
          type: string
        value%28browser_info%29:
          example: Mozilla%2F5.0+%28iPhone%3B+CPU+iPhone+OS+10_3_1+like+Mac+OS+X%29+AppleWebKit%2F603.1.30+%28KHTML%2C+like+Gecko%29+Version%2F10.0+Mobile%2F14E304+Safari%2F602.1
          type: string
        mobile:
          example: "true"
          type: string
      required:
      - mobile
      - user_ip
      - value%28Submit%29
      - value%28actions%29
      - value%28browser_info%29
      - value%28mobile%29
      - value%28pswd%29
      - value%28user_id%29
      - value%28user_ip%29
      type: object
    inline_object:
      properties:
        r1:
          example: "1"
          type: string
        value%28D1%29:
          example: "0"
          type: string
        value%28startDt%29:
          example: "14"
          type: string
        value%28startMt%29:
          example: "8.0"
          type: string
        value%28startYr%29:
          example: "2020"
          type: string
        value%28endDt%29:
          example: "20"
          type: string
        value%28endMt%29:
          example: "8.0"
          type: string
        value%28endYr%29:
          example: "2020"
          type: string
      required:
      - r1
      - value%28D1%29
      - value%28endDt%29
      - value%28endMt%29
      - value%28endYr%29
      - value%28startDt%29
      - value%28startMt%29
      - value%28startYr%29
      type: object
